<div class="full-img">
    <div class="form-container">
        <% if @passwordIncorrecta %>
        <p class="text-danger">Codigo Estudiantil o Contrase単a incorrectos</p>
        <% end %>
        <%= form_tag do %>
            <div class="form-group">
                <%= label_tag(:codigo, "Codigo Estudiantil") %>
                <%= number_field_tag(:codigo, '', class: 'form-control', placeholder: 'Codigo') %>
            </div>
            <div class="form-group">
                <%= label_tag(:password, "Contrase単a") %>
                <%= password_field_tag(:password, '', class: 'form-control', placeholder: 'Contrase単a') %>
            </div>
            <%= submit_tag("Ingresar", :class=> 'btn btn-primary') %>
        <% end %>
        <!-- <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Codigo Estudiantil</label>
              <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Codigo">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contrase単a</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">
                <a href="/dashboard_estudiante">Entrar</a>    
            </button>
          </form> -->
    </div>
</div>